body {
    background-color:#EE82EE ;
}

button {
    width: 34px;
}

h1 {
    color: #2F4F4F;
}

p {
    font-size: 28pt;
}

table {
    border-collapse: collapse;
}


td, th {
    border: 1px solid green;
}